.button {
    width: 176px;
    height: 32px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: $main-color;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    &_main {
        width: 303px;
        height: 54px;
        margin-top: 67px;
        font-size: 16px;
    }
    &_form {
        width: 303px;
        height: 58px;
        font-size: 16px;
    }
    &_catalog {
        width: 135px;
        height: 44px;
        font-size: 14px;
        line-height: 22px;
    }
    &_modal {
        width: 300px;
        height: 58px;
        font-size: 16px;
    }
}